@{
    ViewData["Title"] = "Experity Challenge";
}

@model EventTypeModel

<!--Form to enter the event input-->
<div class="container">
    @using (Html.BeginForm(FormMethod.Post, new { id = "eventForm" }))
    {
        @Html.LabelFor(m => m.EventTypeInput)
        @Html.TextBoxFor(m => m.EventTypeInput, new { @id = "eventInput" })

        <input type="submit" id="btnEventSubmit" value="Submit Event" />
    }
</div>

<!--Display Event Results-->
<div id="resultLoad">
   
</div>


