@{
    ViewData["Title"] = "Experity Challenge";
}

@model EventTypeModel

<div class="container">
    @using (Html.BeginForm(FormMethod.Post, new { id = "eventForm" }))
    {
        @Html.LabelFor(m => m.EventTypeInput)
        @Html.TextBoxFor(m => m.EventTypeInput, new { @id = "eventInput" })

        <input type="submit" id="btnEventSubmit" value="Submit Event" />
    }
</div>

<!-- buttons here which would call the event controller-->
@*<div class="container">
    <div class="col-med">
        <input id="btn-reg"
               type="button"
               value="Register Type"
         />
    </div>
    <div class="col-med">
        <input id="btn-diag"
               type="button"
               value="Diagnose Type"
        />
    </div>
</div>*@

<!--Display Event Results-->
<div id="resultLoad">
   
</div>


